.gallery-js {
  display: flex;
}

.gallery-list-js {
  list-style-type: none;
  justify-content: space-between;
  padding: 10px;
}

.gallery-list__animal-js {
  width: 350px;
  height: 220px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
