
html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    margin: 0 ;
    padding: 0;
}

html {
    box-sizing: border-box;
}
  
body, .p, button, a {
    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

body {
    margin: 0;
}

header {
    padding-bottom: 100px;
    padding-top: 75px;

}

.container {
    width: 900px;
    margin: 0 auto;
}

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
    width: 0px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .navigation {
  text-align: center;
  font-size: 0;
  }

  .navigation a {
      text-decoration: none;
      font-family: 'Playfair Display', serif;
      color: #626262;
      font-size: 18px;
    font-weight: 400;

  }

.navigation li{
    display: inline-block;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    list-style: none;
    margin-right: 100px;
    
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a:hover {
    color: #83a9f4;
}

.features-list-item h3 {

    font-size: 27px;
    line-height: 33px;
    margin-bottom: 35px;

}

.image {
    margin-bottom: 25px;
}

.category {
    font: 300 14px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 25px;
  
}

.page-footer {
    display: block;
      font-size: 20px;
      line-height: 24px;
      width: 164px;
      height: 60px;
      border-width: 1px;
      outline: none; 
      margin: auto;
      padding: 0;
      padding-bottom: 70px;
  }



.page-footer:hover {
    background-color: rgb(98,98,98);
    color: white;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.features-list {
    font-size: 0;

}

.features-list-item {
    display: inline-block;
    width: 420px;
   margin-right: 60px;
   font-size: 14px;
   margin-bottom: 130px;


}

.features-list-item:nth-child(even) {
    margin-right: 0;
}


