* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.header {
  background-color: #53535c;
  height: 60px;
}

.header__logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 20px;
  top: 10px;
  background: linear-gradient(57.07deg, #6368e5 5.81%, #b884f3 91.96%);
}

.header__card::after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 5px;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50px;
  border: 4px solid;
  border-color: white;
  background-image: url("../ikons/tv.png");
  background: linear-gradient(57.07deg, #6368e5 5.81%, #b884f3 91.96%);
}

@media (min-width: 320px) and (max-width: 799px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 800px) and (max-width: 1250px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
