* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
.container {
  position: relative;
}
.header {
  background-color: #53535c;
  height: 60px;
}
.header__centre {
  justify-content: center;
}

.header__logo {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 100px;
  top: 10px;
  background: linear-gradient(57.07deg, #6368e5 5.81%, #b884f3 91.96%);
  border-radius: 50px;
}

.header__logo::after {
  content: "";
  display: block;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: #53535c;
}

.header__card::after {
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 5px;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50px;
  border: 4px solid;
  border-color: white;
  background: linear-gradient(57.07deg, #6368e5 5.81%, #b884f3 91.96%);
}

.navigation__item--icon {
  border-radius: 50px;
  border: 4px solid;
  border-color: white;
}
.nav__icon {
  margin: 15px 15px 15px 15px;
  fill: rgb(255, 255, 255);
}

@media (min-width: 320px) and (max-width: 799px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .header__phone {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .header__tablet {
    display: none;
  }

  .header__desktop {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 1250px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header__phone {
    display: none;
  }

  .header__tablet {
    display: flex;
  }

  .header__desktop {
    display: none;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .header__phone {
    display: none;
  }

  .header__tablet {
    display: none;
  }

  .header__desktop {
    display: flex;
  }
}
