
html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}
  
body {
    font-family: PlayfairDisplay;
    color: #989898;
    font-size: 19px;
    line-height: 23px;
    margin: 0;
}

.container {
    width: 990 px;
    margin: 0 auto;
    padding: 0 auto;
}

.navigation li{
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin-right: 105px;
    margin-bottom: 35px;
    margin-top: 15px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    
}

p {
    font-size: 19px;
    line-height: 23px;
    
}

.page-footer {
      font-size: 20px;
      line-height: 24px;
      width: 164px;
      height: 60px;
      border-width: 1px;
      outline: none; 
  }

  .footer {
      margin: 0 auto;
      padding: 0 auto;
  }


.page-footer:hover {
    background-color: rgb(98,98,98);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.features-list {
    padding: 0;
    margin: 0;
    list-style: none;

}

.features-list-item {
    display: inline-block;
    width: 421px;
    margin-right: 61px;
    margin-bottom: 15px;
}



