.subscribe-form__input::-webkit-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::-moz-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input:-ms-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::-ms-input-placeholder {
  color: rgb(204, 204, 204);
}

.subscribe-form__input::placeholder {
  color: rgb(204, 204, 204);
}
