@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
      url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
      url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"),
      url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"),
      url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



 * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

*, 
*::before,
*::after {
    box-sizing: inherit;
    margin: 0 ;
    padding: 0;
}

html {
    box-sizing: border-box;
}


.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

body {
    margin: 0;
}

p{
  text-align: center;
}

header {
    padding-bottom: 100px;
 
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav {
    background-image: url("../Layer 15.png");
}

.logo {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #b6eae1 ;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    margin-top: 30px;
   
  }

  .navigation {
      width: 500px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

  }
  
  .navigation a{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: #b6eae1;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition:  200ms linear;
    transition: color  200ms linear;
  }

  .navigation a::after {
    display: block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: #f38181;
    margin: 10px auto;
    overflow: hidden;
    opacity: 0;
    transition: color  200ms linear;
  }
  
  .navigation a:hover {
    color:  #f38181;
}

.navigation a::after:hover {
  opacity: 1;
}
  
.head-title {
   font-size: 72px;
    font-family: "KaushanScript";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center; 
}

.head-name {
    font-size: 150px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.services {

}

.title {
 margin-bottom: 90px;
}

.second-line::after {
    display: block;
    content: "";
    width: 63px;
    height: 5px;
    background-color: #f38181;
    margin: 30px auto;
}


.first-line{
  font-size: 24px;
  font-family: "KaushanScript";
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

.second-line {
    font-size: 30px;
    font-family: "Montserrat",sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

}

  .info {
    display: flex;
    justify-content: space-around;
      flex-wrap: wrap;
  }
  
  .info-block {
      width: 380px;
      margin-bottom: 100px;
      display: flex;
      justify-content: space-around;
      padding-left: 50px;
  }

 
  .block-photo {
    background-image: url("../services/photo.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
  
  }

.block-web {
    background-image: url("../services/web.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.block-creat {
    background-image: url("../services/creat.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.block-seo {
    background-image: url("../services/seo.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.block-css {
    background-image: url("../services/html.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

.block-digital {
    background-image: url("../services/digital.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 45px;
}

  .info-title {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 3;
    text-align: left;

  }
  
  .info-informatoin {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 2;
    text-align: left;
    
  }
  
  .team {

  }

  .txt-second-block {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    margin-bottom: 50px;
  }


  .team-list {
    display: flex;
    justify-content: space-around;
    

  }

  .team-block {
    width: 380px;
    margin-bottom: 40px;
    
  }

  .team-image {
      margin-bottom: 30px;

  }

  .team-name {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

  }

  .team-occoupation {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;

  }

  button {
    border: none;
    margin-left: 2px;
  }

  /*hover*/


.card {
  position: relative;
}

.overlay  {
  display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
  position: absolute;
  opacity: 0.8; 
  background-image: linear-gradient( #f38181, #fce38a);
  width: 380px;
  height: 470px;
  box-shadow: 10px 10px 0px #95e1d3; 
  transition:  200ms linear;
}


.overlay-icon-facebook {
  background-image: url("../logo/facebook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #95e1d3 ;
  width: 58px;
  height: 58px;
 
}

.overlay-icon-instagram {
  background-image: url("../logo/instagram.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  width: 58px;
  height: 58px;
}

.overlay-icon-pinterest {
  background-image: url("../logo/pinterest.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  width: 58px;
  height: 58px;
}

.overlay-icon-twitter {
  background-image: url("../logo/twitter.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  width: 58px;
  height: 58px;
}


.overlay {
  opacity: 0;
}

.team-block:hover .overlay {
  opacity: 0.8;
}




//*
#95e1d3

